<%- include('../userLayout/userHeader.ejs') %>
<%- include('../userLayout/userNavbar.ejs') %>



<main class="main">
    <div class="page-header text-center" style="background-image: url('userAssets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title"><strong style="color: black;">SHOP</strong></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/allProducts">Shop</a></li>
                
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                    </div><!-- End .toolbox -->

                    <div class="products-hvr" >
                        <div class="row justify-content-center">
                            <% product.forEach(function(product) { %>
                                <div class="col-6">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <span class="product-label label-new">New</span>
                                            <a href="/singleProduct?id=<%= product._id %>">
                                                <img src="/adminAssets/adminImages/productImage/<%= product.image[0] %>" alt="Product image" class="product-image">
                                            </a>
                            
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                            </div><!-- End .product-action-vertical -->
                            
                                            <div class="product-action">
                                                <% if(session != null) { %>
                                                    <a onclick="addToCart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <% } else { %>
                                                    <a onclick="plzlogin()" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <% } %>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->
                            
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= product.categoryName %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html"><%= product.productName %></a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <% 
                                                    const discount = product.discountPercentage;
                                                    const price = product.price;
                                                    const disAmount = Math.round((price * discount) / 100);
                                                    const total = price - disAmount;
                                                %>
                                                <% if(disAmount <= 0) { %>
                                                    <span class="new-price">₹ <%= price %>.00</span>
                                                <% } else { %>
                                                    <del class="new-price text-danger">₹ <%= price %>.00</del> 
                                                    <span class="new-price">₹ <%= total %></span>
                                                <% } %>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 -->
                            <% }) %>
                            
                        </div><!-- End .row -->

                            
                    </div><!-- End .products -->


                    <div class="ec-pro-pagination ">
                                
                                <ul class="pagination justify-content-center">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                        <a class="prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                    </li>
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %> ms-2" aria-current="page">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                                   <% } %>
                                   <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                <a class="next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                               </li>

                                </ul>
                            </div>
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">
                            <label>Filters:</label>
                            <a href="#" class="sidebar-filter-clear">Clean All</a>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                    Category
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-1">
                                <% if(category.length > 0){
                                    for(let i=0;i<category.length;i++){

                                %>
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <a class="text-dark" href="/filterCategory/<%= category[i].categoryname %>" for="cat-1" >
                                                    <%= category[i].categoryname %>
                                                </a>
                                            </div><!-- End .custom-checkbox -->                                                  
                                        </div><!-- End .filter-item -->
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                                <% 
                             }
                             } %>
                            </div><!-- End .collapse -->
                      
                   </div><!-- End .widget -->
                   <div class="widget widget-collapsible">
  <h3 class="widget-title">
    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
      Price
    </a>
  </h3><!-- End .widget-title -->
  <div class="ec-sidebar-block">
    <div class="ec-sb-block-content">
      <ul>
        <li>
          <div class="ec-sidebar-block-item">
            <a href="/price-sort/1">Low To High</a>
          </div>
        </li>
        <li>
          <div class="ec-sidebar-block-item">
            <a href="/price-sort/-1">High To Low</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div><!-- End .widget -->

                   

                       
                    </div><!-- End .sidebar sidebar-shop -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
   
</main><!-- End .main -->

<script>

    function addToCart(productId){
            $.ajax({
                url:'/addToCart',
                method:'post',
                data:{
                    id: productId
                },
                success:(response)=>{  
                    if(response.success){
                        swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Product added to cart',
                        showConfirmButton: false,
                        timer: 1500,        
                        });
                    }else{
                        swal.fire({ 
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message
                        });
                    }
                }
            })
        }
</script>





<%- include('../userLayout/userFooter.ejs') %>