    <%- include('../userLayout/userHeader.ejs') %>
    <%- include('../userLayout/userNavbar.ejs') %>




<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/allProducts">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>

        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom"
                                    src="/adminAssets/adminImages/productImage/<%= product.image[0]%>">

                                <a href="/adminAssets/adminImages/productImage/<%= product.image[0]%>" id="btn-product-gallery" class="btn-product-gallery">
                                    <i class="icon-arrows"></i>
                                </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="/adminAssets/adminImages/productImage/<%= product.image[0]%>" data-image="/adminAssets/adminImages/productImage/<%= product.image[0]%>"
                                        data-zoom-image="">
                                        <img src="/adminAssets/adminImages/productImage/<%= product.image[0]%>"
                                            alt="product side">
                                    </a>

                                    <a class="product-gallery-item" href="/adminAssets/adminImages/productImage/<%= product.image[1]%>"
                                        data-image="/adminAssets/adminImages/productImage/<%= product.image[1]%>"
                                        data-zoom-image="/adminAssets/adminImages/productImage/<%= product.image[1]%>">
                                        <img src="/adminAssets/adminImages/productImage/<%= product.image[1]%>"
                                            alt="product cross">
                                    </a>

                                    <a class="product-gallery-item" href="/adminAssets/adminImages/productImage/<%= product.image[2]%>"
                                        data-image="/adminAssets/adminImages/productImage/<%= product.image[2]%>"
                                        data-zoom-image="/adminAssets/adminImages/productImage/<%= product.image[2]%>">
                                        <img src="/adminAssets/adminImages/productImage/<%= product.image[2]%>"
                                            alt="product with model">
                                    </a>

                                    <a class="product-gallery-item" href="/adminAssets/adminImages/productImage/<%= product.image[3]%>"
                                        data-image="/adminAssets/adminImages/productImage/<%= product.image[3]%>"
                                        data-zoom-image="/adminAssets/adminImages/productImage/<%= product.image[3]%>">
                                        <img src="/adminAssets/adminImages/productImage/<%= product.image[3]%>"
                                            alt="product back">
                                    </a>
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title"><%= product.productName %></h1><!-- End .product-title -->

                    

                            <div class="product-price">
                               ₹ <%= product.price %>
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p><%= product.description %> </p>
                            </div><!-- End .product-content -->


                            <div class="product-details-action">
                                <% if(session != null) { %>
                                    <a onclick="addToCart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                <% } else { %>
                                    <a onclick="plzlogin()" class="btn-product btn-cart"><span>add to cart</span></a>
                                <% } %>

                                <div class="details-action-wrapper">
                                    <% if (session != null) { %>
                                        <% if(product.stock == 0){%>
                                            
                                    <% }else{%>
                                    <button onclick="addtoWishlist('<%=product._id%>')" class="btn btn-outline-dark-2" title="Wishlist"><span>Add to Wishlist</span></button>
                                    <% } %>
                                    <% } else { %>
                                        <% if(product.Stock == 0){%>
                                            
                                    <% }else{%>
                                        <button class="btn btn-outline-dark-2" onclick="plzlogin()">Add to Wishlist</button>
                                        <% } %>
                                        <% } %>
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->     
                        </div><!-- End .container -->
                   </div><!-- End .page-content -->
                   <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                                role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                            aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>
                                    <%= product.description %>
                                </p>
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->
                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->
               </main><!-- End .main -->


               <script>

                function addToCart(productId){
                        $.ajax({
                            url:'/addToCart',
                            method:'post',
                            data:{
                                id: productId
                            },
                            success:(response)=>{  
                                if(response.success){
                                    swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Product added to cart',
                                    showConfirmButton: false,
                                    timer: 1500,        
                                    });
                                }else{
                                    swal.fire({ 
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.message
                                    });
                                }
                            }
                        })
                    }

                    function plzlogin() {
        $.ajax({
            success: (response) => {
                swal.fire({
                    position: 'top',
                    title: '! Please Login To Your Account',
                    showConfirmButton: false,
                    timer: 1500,
                    customClass: {
                        popup: 'my-swal-class',
                    },
                });
            }
        });
    }

    function addtoWishlist(productid){
     $.ajax({
         url:"/addtoWishlist",
         method:"post",
         data:{
             id:productid
         },
         success:(response)=>{
             if(response.success){
                 swal.fire({

                     positon:'center',
                     icon:"success",
                     title  : 'product added to wishlist',
                     showConfirmButton:false,
                     timer : 1500,

                 })
                //  location.reload();
             }
            }
         
        })
       }
    
            
            </script>
            
            

                            <%- include('../userLayout/userFooter.ejs') %>